{% extends 'layout.html' %}

{% block body %}
<ul class "all_user">
    {% for user in allusers %}
    {% if not user.is_superuser %}
    {% if user not in request.user.friends.all and user # request.user %}
    <h1>{{ user }} 
        <a href="/send_friend_request/{{user.id}}/"">send</a>
    </h1>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
{% for friend_request in all_friend_requests %}
<h1>{{friend_request.form_user}}
    <a href="/accept_friend_request/{{friend_request.id}}/">accept</a>
</h1>
{% endfor %}
{% endblock body %}