{% extends "layout.html" %}

{% block body %}
    <h1>Welcome, {{ request.user.username }}</h1>
    <form action="">
        <input type="text" name="search" placeholder="Search by title" >
        <input type="submit" value="Search">
    </form>
    <ul>
        <img class="rounded-circle account-img" src="{{ profile.avatar.url }} " style="cursor: pointer;"/>
        <li>Username: {{ request.user.username }}</li>
        <li>Nickname: {{ profile.nickname }}</li>
        <li>First name: {{ request.user.first_name }}</li>
        <li>Last name: {{ request.user.last_name }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Bio: {{ profile.bio }}</li>
        <li>Friends: {{ profile.get_number_of_friends }}</li>
        {% for friend in profile.get_friends %}
        <li>List of friends: 
            <a href="/profile/{{ friend }}">{{ friend }}</a>           
        </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'editprofile' %}">Edit Profile</a>
    <a href="/profile/{{request.user.username}}">View My profile</a>
{% endblock %}