{% extends "layout.html" %}

{% block body %}
    <h1>Welcome, {{ request.user.username }}</h1>
    <form action="">
        <input type="search" name="search" placeholder="Search by title" >
        <input type="submit" value="Search">
    </form>
    <ul>
        <img class="rounded-circle account-img" src="{{ profile.avatar.url }} " style="cursor: pointer;"/>
        <li>Username: {{ request.user.username }}</li>
        <li>Nickname: {{ profile.nickname }}</li>
        <li>First name: {{ request.user.first_name }}</li>
        <li>Last name: {{ request.user.last_name }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Bio: {{ profile.bio }}</li>
        <li>Friends: {{ profile.get_number_of_friends }}</li>
        <li>Matches: {{profile.user.matches}}</li>
        {% for game in profile.get_games %}
            {% if game.winner.username == game.player1.username %}
            <li>{{ game.player1.username }} 1 vs {{ game.player2.username }} 0 - {{ game.date|date:"F d, Y, H:i" }} </li>
            {% else %}
            <li>{{ game.player1.username }} 0 vs {{ game.player2.username }} 1 - {{ game.date|date:"F d, Y, H:i" }} </li>
            {% endif %}
        {% endfor %}
        <li>Wins: {{profile.wins}}</li>
        <li>Losses: {{profile.losses}}</li>
        <li>Stats: Wins:{{profile.get_wstats|floatformat:2}}% Losses: {{profile.get_lstats|floatformat:2}}%</li>
        {% for friend in profile.get_friends %}
        <li>List of friends: 
            <a href="/profile/{{ friend }}">{{ friend }}</a>           
        </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'editprofile' %}">Edit Profile</a>
    <a href="/profile/{{request.user.username}}">View My profile</a>
    <a href="{% url 'list_users' %}">All Users</a>
{% endblock %}