{% extends "layout.html" %}

{% block body %}
    <h1>Welcome, {{ request.user.username }}</h1>
    <ul>
        <img class="rounded-circle account-img" src="{{ profile.avatar.url }} " style="cursor: pointer;"/>
        <li>Username: {{ request.user.username }}</li>
        <li>Nickname: {{ profile.nickname }}</li>
        <li>First name: {{ request.user.first_name }}</li>
        <li>Last name: {{ request.user.last_name }}</li>
        <li>Email: {{ request.user.email }}</li>
        <li>Bio: {{ profile.bio }}</li>
    </ul>
    
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'editprofile' %}">Edit Profile</a>
{% endblock %}