{% extends "layout.html" %}

{% block body %}
    <h1>Profile of  {{ profile.user.username }}</h1>
    <ul>
        <img class="rounded-circle account-img" src="{{ profile.avatar.url }} " style="cursor: pointer;"/>
        <li>Status:
            {% if is_online %}
            Online  
            {% else %}
            Offline 
            {% endif %}
        </li>
        <li>Username: {{ profile.user.username }}</li>
        <li>Nickname: {{ profile.nickname }}</li>
        <li>First name: {{ profile.user.first_name }}</li>
        <li>Last name: {{ profile.user.last_name }}</li>
        <li>Email: {{ profile.user.email }}</li>
        <li>Bio: {{ profile.bio }}</li>
        <li>Friends: {{ profile.get_number_of_friends }}</li>
        {% for friend in profile.get_friends %}
        <li>List of friends: 
            {{ friend }}            
        </li>
        {% endfor %}
    </ul>
{% endblock %}