{% extends "layout.html" %}

{% block body %}
    <h1>Profile of  {{ profile.user.username }}</h1>
    <ul>
        <img class="rounded-circle account-img" src="{{ profile.avatar.url }} " style="cursor: pointer;"/>
        <li>Status:
            {% if online %}
            Online  
            {% else %}
            Offline 
            {% endif %}
        </li>
        <li>Username: {{ profile.user.username }}</li>
        <li>Nickname: {{ profile.nickname }}</li>
        <li>First name: {{ profile.user.first_name }}</li>
        <li>Last name: {{ profile.user.last_name }}</li>
        <li>Email: {{ profile.user.email }}</li>
        <li>Bio: {{ profile.bio }}</li>
        <li>Friends: {{ profile.get_number_of_friends }}</li>
        {% for friend in profile.get_friends %}
        <li>List of friends: 
            <a href="/profile/{{friend}}">{{ friend }}</a> 
        </li>
        {% endfor %}
        <li>Matches: {{profile.user.matches}}</li>
        {% for game in profile.get_games %}
            {% if game.winner.username == game.player1.username %}
            <li>{{ game.player1.username }} 1 vs {{ game.player2.username }} 0 - {{ game.date|date:"F d, Y, H:i" }} </li>
            {% else %}
            <li>{{ game.player1.username }} 0 vs {{ game.player2.username }} 1 - {{ game.date|date:"F d, Y, H:i" }} </li>
            {% endif %}
        {% endfor %}
        <li>Wins: {{profile.wins}}</li>
        <li>Losses: {{profile.losses}}</li>
        <li>Stats: Wins:{{profile.get_wstats|floatformat:2}}% Losses: {{profile.get_lstats|floatformat:2}}%</li>
        <form method="post">
            {% csrf_token %}
            {% if useru != profile.user.username %}
            <input type="hidden" name="action" value="{{ action }}">
            <button type="submit">
                {% if action == 'remove_friend' %}
                    Remove Friend
                {% else %}
                    Add Friend
                {% endif %}
            {% endif %}
            <!-- {% if user_id == profile.id in profile.get_friends%} -->
            <!-- {% else %}
                <input type="hidden" name="action" value="add_friend">
                <button type="submit">Add Friend</button>
                {% endif %} -->
                
            </form>
        </ul>

        {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        </div>
        {% endif %}
{% endblock %}